@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanius', cursive;
}

body{
  text-align: center;
  background: linear-gradient( to bottom, #6AB7F5, #fff);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding:15px;
  position: relative;
}

.pokedex{
  width: 108%;
  max-width: 425px;
}

.pokemon_image{
  position: absolute;
  bottom: 57%;
  left: 60%;
  transform: translate(-66%, 20%);  /*ACOPANHA A RESPOSIVIDADE DA TELA*/
  height: 70px;
}

.pokemon_data{
  position: absolute;
  font-weight: 600;
  color: rgb(149, 144, 144);
  top: 52.5%;
  right: 26.5%;  
  font-size: clamp(8px, 5vw, 15px);
}

.pokemon_name{
    color: #3A444D;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
  width: 100%;
  padding: 3%;
  outline: none;
  border-radius: 8px;
  border: 2px solid #333;
  font-weight: 600;
  color: #3A444D;
  font-size:clamp(8px, 5vw, 1rem);
  box-shadow: -1px 2px 0 #888, -2px 4px 0 #333; /*(-3px 4px 0 #888) isso é refernte aos eixos  (Xpx Ypx tamanho da sombra cor da sombra )*/
}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 51%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 18px;
}

.button {
    width: 50%;
    padding: 4%;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #111, -4px 6px #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem; ;
}
